<div class="container-channels">
	<ul class="list-of-channels">
		
	</ul>
</div>
<div class="container-content">
	<div class="messages-container">
		
	</div>
	<div class="message-input">
		<form action="" class="message-input-form">
			<button class="submit"><i class="fa fa-arrow-circle-o-up"></i></button>
			<input type="text" class="message-input-content" autofocus>
		</form>
	</div>
</div>